In [3]:
import os
import sys
import glob
import numpy
import pandas

sys.path.insert(1, "../")

In [4]:
from lmtanalysis.Features import ExtractDyadic, ExtractMonadic, ExtractDetection

In [5]:
get_ipython().magic('reload_ext autoreload')
get_ipython().magic('autoreload 2')
get_ipython().magic('matplotlib qt5')

## Combine results from several .xlsx files
---
Note
* you can use `freq="5min"` or `freq="60min"`
* data can be exported to combined xlsx file with `ed.export_xlsx()`
* the genotype information *wt1, wt2, mut1, mut2* is replaced into *wt, mut* respectively

## 1. Detection parameters
---

#### Select xlsx files and freqencies to process

In [ ]:
ed = ExtractDetection(freq="60min") # freq can also be set to "5min"

#### Plot a column value
* use order to order from left to right
* one can also leave out a condition to suppress display

In [ ]:
ed.plot(column="Distance_in_arena_center", order=["wt", "mut"])

### ... data used for the plot

In [ ]:
ed.data(column="Distance_in_arena_center")

### ... write all combined columns into single .xlsx for external ploting

In [ ]:
ed.export_xlsx() # this also works

## 2. Monadic events
---
* use ci as confidence interval band indicator ci=95 => 95% confidence interval displayed

In [ ]:
ed = ExtractMonadic(freq="60min")
ed.plot("Water Zone", "Number_of_events", order=["wt", "mut"])
ed.data("Water Zone", "Number_of_events")

In [9]:
ed = ExtractMonadic(freq="5min")
ed.plot("Water Zone", "Number_of_events", ci=95) 
ed.data("Water Zone", "Number_of_events")

           condition                                time  Number_of_events
event_name
Water Zone       mut  (0 days 00:00:00, 0 days 00:05:00]                13
Water Zone       mut  (0 days 00:05:00, 0 days 00:10:00]                 6
Water Zone       mut  (0 days 00:10:00, 0 days 00:15:00]                 8
Water Zone       mut  (0 days 00:15:00, 0 days 00:20:00]                 5
Water Zone       mut  (0 days 00:20:00, 0 days 00:25:00]                 3
...              ...                                 ...               ...
Water Zone        wt  (0 days 00:25:00, 0 days 00:30:00]                 2
Water Zone        wt  (0 days 00:30:00, 0 days 00:35:00]                 5
Water Zone        wt  (0 days 00:35:00, 0 days 00:40:00]                 5
Water Zone        wt  (0 days 00:40:00, 0 days 00:45:00]                 3
Water Zone        wt  (0 days 00:55:00, 0 days 01:00:00]                 2

[81 rows x 3 columns]

## 3. Dyadic events
---

In [ ]:
ed = ExtractDyadic(freq="60min")
ed.plot("Contact", "Number_of_events", order=["wt - wt", "mut - mut", "wt - mut", "mut - wt"])
ed.data("Contact", "Number_of_events")

In [10]:
ed = ExtractDyadic(freq="5min")
# example: sshow only certain condition with smaler error bands
ed.plot("Contact", "Number_of_events", order=["wt - wt", "mut - mut", ], ci=75)
ed.data("Contact", "Number_of_events")

            condition                                time  Number_of_events
event_name
Contact     mut - mut  (0 days 00:00:00, 0 days 00:05:00]                29
Contact     mut - mut  (0 days 00:05:00, 0 days 00:10:00]                37
Contact     mut - mut  (0 days 00:10:00, 0 days 00:15:00]                32
Contact     mut - mut  (0 days 00:15:00, 0 days 00:20:00]                33
Contact     mut - mut  (0 days 00:20:00, 0 days 00:25:00]                24
...               ...                                 ...               ...
Contact       wt - wt  (0 days 00:35:00, 0 days 00:40:00]                53
Contact       wt - wt  (0 days 00:40:00, 0 days 00:45:00]                48
Contact       wt - wt  (0 days 00:45:00, 0 days 00:50:00]                10
Contact       wt - wt  (0 days 00:50:00, 0 days 00:55:00]                29
Contact       wt - wt  (0 days 00:55:00, 0 days 01:00:00]                49

[288 rows x 3 columns]